@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0px;
  padding: 0px;
}
* {
  box-sizing: border-box;
  transition: 1s ease all;
}
#search {
  transition: 0s ease all;
}